imports:
    - { resource: config.yml }
    - { resource: dev_parameters.yml }

framework:
    router:
        resource: "%kernel.root_dir%/config/routing_dev.yml"
        strict_requirements: true
    profiler: { only_exceptions: false }

web_profiler:
    toolbar: true
    intercept_redirects: false

monolog:
    handlers:
        console:
            type:  console
            level: info
        file:
            type:  stream
            path:  '%kernel.logs_dir%/%kernel.environment%.log'
            level: debug
        dev_notification:
            type:         fingers_crossed
            activation_strategy: 'AwardWallet\Common\Monolog\ActivationStrategy\DevNotificationActivationStrategy'
            handler:      swift
            buffer_size:  30
            stop_buffering: false
        swift:
            type:       swift_mailer
            level:      debug
            formatter:  aw.extension.monolog.formatter.awardwallet
            email_prototype:
              id: 'AwardWallet\Common\Monolog\EmailPrototype'
              method: 'buildMessage'

services:
    aw.aws_util:
        class: AwardWallet\Common\AWS\Util
        arguments: ['@AwardWallet\Common\AWS\AwsMetadataMock', '@aw.aws_cache']
    aw.s3client:
        class: AwardWallet\Common\Tests\TestS3Client
        arguments: ["%kernel.project_dir%/var/s3"]
        public: true

