imports:
  - { resource: '../../vendor/awardwallet/schema/src/schema.yml'}

swagger: '2.0'
info:
  title: 'AwardWallet Web Parsing API'
  description: |
    AwardWallet Web Parsing API supports retrieval of the following information from online loyalty accounts&#58; 

    - Loyalty information (e.g. account balance, expiration, elite level, etc.)
    - Travel itineraries listed under user’s profile
    - Account activity history

    This is a restful API and is designed to work asynchronously.
  version: 1.0.0
host: loyalty.awardwallet.com
schemes:
  - https
securityDefinitions:
  Authentication:
    type: apiKey
    name: X-Authentication
    in: header
    description: |
      Every API call needs to be authenticated with an API authntiction token. This token is passed in the "X-Authentication" field with the https request header. The token is formed by concatinating the API username and API password with a ":" symbol. You need to [contact us](https://awardwallet.com/contact) to get your API credentials.

      <code class="prettyprint">X-Authentication: YourUserName:YourPassword</code>

      <aside class="success">Obviously you need to replace <code>YourUserName:YourPassword</code> with your personal credentials.</aside>

basePath: /v2
x-hide-doc:
  - /admin/
  - /account/password/
  - /definitions/CheckAccountRequest/allOf/properties/browserExtensionAllowed
  - /definitions/CheckAccountRequest/allOf/properties/loginId
  - /definitions/AutoLoginWithExtensionRequest/allOf/properties/loginId
  - /definitions/CheckAccountResponse/properties/browserExtensionSessionId
  - /definitions/CheckAccountResponse/properties/browserExtensionConnectonToken
  - /definitions/CheckWithExtensionResponse
  - /definitions/CheckWithExtensionRequest
produces:
  - application/json
paths:
  x-router: swagger_v2.controller
  /providers/list:
    get:
      security:
        - Authentication: []
      operationId: providersList
      summary: 'List providers'
      description: |
          The `providers/list` method gives you all the providers that we support at any given point in time under this API. This list will change over time, so you need to periodically call this method to get any changes.

          <aside class="notice">
            Please note that AwardWallet supports different providers under different APIs, for instance, the ListProviders method under our Email Parsing API will return a different list of providers.
          </aside>
      tags:
        - providers
      responses:
        200:
          description: 'Supported providers information'
          schema:
            $ref: '#/definitions/ProvidersListItem'
          examples:
            application/json: |
                [
                    {
                        "code": "aa",
                        "displayName": "American Airlines (AAdvantage)",
                        "kind": 1
                    },
                    {
                        "code": "hhonors",
                        "displayName": "Hilton (HHonors)",
                        "kind": 2
                    }
                ]
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
        500:
          description: 'Generic server error'
          schema:
            $ref: '#/definitions/ServerError'
        400:
          description: 'Client input error'
          schema:
            $ref: '#/definitions/InputError'
  '/providers/{code}':
    get:
      security:
        - Authentication: []
      operationId: providerInfo
      summary: 'Provider info'
      description: "This method gives you all the details that you need to know about a given provider. For instance, this method will tell you what information you need to request from your users in order to update a given account and it also tells you what to expect in return once that account is updated. It tells you what features are supported for a given provider, such as if we support retrieving account history or travel reservations from that provider."
      parameters:
        -
          name: code
          in: path
          required: true
          type: string
          description: 'Alpha-numeric value with no spaces that uniquely identifies any given provider. Can be retrieved from the [`/providers/list`](#method-providers_1) method.'
      tags:
        - providers
      responses:
        200:
          description: 'Supported provider definition'
          schema:
            $ref: '#/definitions/ProviderInfoResponse'
          examples:
            application/json: |
                {
                    "kind": 2,
                    "code": "marriott",
                    "displayName": "Marriott Rewards",
                    "providerName": "Marriott",
                    "programName": "Marriott Rewards, Ritz-Carlton",
                    "login": {
                        "code": "Login",
                        "title": "Email or Rewards No.",
                        "options": [],
                        "required": true,
                        "defaultValue": ""
                    },
                    "login2": {
                        "code": "Login2",
                        "title": "Hotel",
                        "options": [
                            {
                                "code": "",
                                "name": "Select your hotel",
                                "kind": "0"
                            },
                            {
                                "code": "marriott",
                                "name": "Marriott",
                                "kind": "0"
                            },
                            {
                                "code": "ritz",
                                "name": "Ritz-Carlton",
                                "kind": "0"
                            }
                        ],
                        "required": true,
                        "defaultValue": ""
                    },
                    "login3": {
                        "code": "Login3",
                        "options": [],
                        "required": false,
                        "defaultValue": ""
                    },
                        "password": {
                        "code": "Password",
                        "options": [],
                        "required": true,
                        "defaultValue": ""
                    },
                    "properties": [
                        {
                            "code": "Name",
                            "name": "Name",
                            "kind": "12"
                        },
                        {
                            "code": "Number",
                            "name": "Rewards #",
                            "kind": "1"
                        },
                        {
                            "code": "Level",
                            "name": "Membership Level",
                            "kind": "3"
                        },
                        {
                            "code": "Nights",
                            "name": "Nights this year",
                            "kind": "8"
                        },
                        {
                            "code": "LastActivity",
                            "name": "Last qualifying activity",
                            "kind": "13"
                        },
                        {
                            "code": "YearBegins",
                            "name": "Beginning of the Year",
                            "kind": "0"
                        },
                        {
                            "code": "PointsValue",
                            "name": "Points Value",
                            "kind": "0"
                        }
                    ],
                    "autoLogin": true,
                    "deepLinking": true,
                    "canCheckConfirmation": true,
                    "canCheckItinerary": true,
                    "canCheckPastItinerary": false,
                    "canCheckExpiration": 1,
                    "confirmationNumberFields": [
                        {
                            "code": "RecordLocator",
                            "title": "Confirmation #",
                            "required": true,
                            "defaultValue": ""
                        },
                        {
                            "code": "FirstName",
                            "title": "First Name",
                            "required": true,
                            "defaultValue": ""
                        },
                        {
                            "code": "LastName",
                            "title": "Last Name",
                            "required": true,
                            "defaultValue": ""
                        },
                        {
                            "code": "CheckInDate",
                            "title": "Check In Date",
                            "required": true,
                            "defaultValue": ""
                        }
                    ],
                    "historyColumns": [
                        {
                            "kind": "Info",
                            "name": "Type",
                            "type": "string"
                        },
                        {
                            "kind": "PostingDate",
                            "name": "Date Posted",
                            "type": "date"
                        },
                        {
                            "kind": "Description",
                            "name": "Description",
                            "type": "string"
                        },
                        {
                            "kind": "Miles",
                            "name": "Points earned",
                            "type": "decimal"
                        },
                        {
                            "kind": "Info",
                            "name": "Actions",
                            "type": "string"
                        },
                        {
                            "kind": "Bonus",
                            "name": "Bonus points earned",
                            "type": "decimal"
                        }
                    ],
                    "eliteLevelsCount": 4,
                    "canParseHistory": true,
                    "canParseFiles": false
                }
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
        500:
          description: 'Generic server error'
          schema:
            $ref: '#/definitions/ServerError'
        400:
          description: 'Client input error'
          schema:
            $ref: '#/definitions/InputError'
  /autologin:
    post:
      security:
        - Authentication: []
      summary: 'Autologin method'
      description: |
        Unfortunately, the auto-login method is not very reliable, many modern websites won’t allow users to login in this manner. Also, in some rare scenarios, the auto-login method may work for some browsers but not work for others. You can tell which providers support the auto-login method using the [`/providers/{code}`](#method-providers_2) method ("autoLogin" should be set to “true”)
      parameters:
        -
          name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/AutoLoginRequest'
      examples:
        application/json: |
          {
            "provider": "czech",
            "login": "12345678",
            "password": "password",
            "userId": "1",
            "userData": "blah",
            "targetUrl": "https://okplus.csa.cz/en/okp_my_profilee.htm",
            "supportedProtocols": [
              "http",
              "https"
            ]
          }
      tags:
        - autologin
      responses:
        200:
          description: 'AutoLogin results'
          schema:
            $ref: '#/definitions/AutoLoginResponse'
          examples:
            application/json: |
              {
                "response": "&lt;!DOCTYPE html PUBLIC....",
                "userData": "blah"
              }
          default:
            description: 'Unexpected error'
            schema:
              $ref: '#/definitions/Error'
        500:
          description: 'Generic server error'
          schema:
            $ref: '#/definitions/ServerError'
        400:
          description: 'Client input error'
          schema:
            $ref: '#/definitions/InputError'
  /autologin-with-extension:
    post:
      security:
        - Authentication: []
      summary: 'Autologin with browser extension'
      description: |
        Browser extension required to use this method
      parameters:
        -
          name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/AutoLoginWithExtensionRequest'
      examples:
        application/json: |
          {
            "provider": "czech",
            "login": "12345678",
            "password": "password"
          }
      tags:
        - autologin
      responses:
        200:
          description: 'AutoLogin results'
          schema:
            $ref: '#/definitions/AutoLoginWithExtensionResponse'
          examples:
            application/json: |
              {
                "browserExtensionSessionId": "abc123456",
                "browserExtensionConnectionToken": "tok89013243243"
              }
          default:
            description: 'Unexpected error'
            schema:
              $ref: '#/definitions/Error'
        500:
          description: 'Generic server error'
          schema:
            $ref: '#/definitions/ServerError'
        400:
          description: 'Client input error'
          schema:
            $ref: '#/definitions/InputError'
  /account/check:
    post:
      security:
        - Authentication: []
      summary: 'Update one account'
      description: |
        This method allows you to place a single loyalty account into a queue for data to be retrieved.
      parameters:
        -
          name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/CheckAccountRequest'
      examples:
        application/json: |
          {
              "provider": "spg",
              "login": "JSMith",
              "login2": "USA",
              "password": "password",
              "userId": "123",
              "userData": "4321",
              "browserState": "v1:YZFsNRWtg7...",
              "priority": 9,
              "timeout": 300,
              "callbackUrl": "http://hostname/callback",
              "userData": "blah",
              "retries": 2,
              "parseItineraries": true,
              "answers": [
                  {
                      "question": "What is your verbal password?",
                      "answer": "verbalpassword"
                  }
              ],
              "history": {
                  "range": "incremental",
                  "state": "q0CoctQQ5yqbsEJFs2C+W9pUcRnyvBk\/8xraBg=="
              }
          }
      tags:
        - loyalty_accounts
      responses:
        200:
          description: 'Loyalty program information and itineraries'
          schema:
            $ref: '#/definitions/PostCheckResponse'
          examples:
            application/json: |
              {
                  "requestId": "580d54da7s34d8ee39e29584"
              }
          default:
            description: 'Unexpected error'
            schema:
              $ref: '#/definitions/Error'
        500:
          description: 'Generic server error'
          schema:
            $ref: '#/definitions/ServerError'
        400:
          description: 'Client input error'
          schema:
            $ref: '#/definitions/InputError'
  /account/check/package:
    post:
      security:
        - Authentication: []
      operationId: checkPackageAccounts
      summary: 'Update multiple accounts'
      description: |
        This method allows you to group account requests into a package (array) and send them with a single request. So if you need to update 300 accounts instead of making 300 requests you can make one request that has all 300 accounts.

        If you are using this API asynchronously and are planning to send multiple accounts for updating as a package, you will be getting callbacks to your endpoint URL, also with packages of accounts. Each package will have up to 20 accounts in it. The account results will be placed into each package in the order they are processed, so not in the order we received them. The response you get from us will look like this:

        <code class="prettyprint">
        {<br/>
        &nbsp;&nbsp;"method": "account",<br/>
        &nbsp;&nbsp;"response": [<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;{<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"requestId": "5f327d5f327d5f327d5f327d",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"userData": "{\"accountId\":1234}",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"state": 1,<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"message": "",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"errorReason": "",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"checkDate": "2020-08-11T11:13:46+00:00",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"requestDate": "2020-08-11T11:12:23+00:00",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"itineraries": [],<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"login": "john@gmail.com",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"login2": "marriott",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"balance": 123456.0,<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"expirationDate": "2022-07-19",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"properties": [<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"code": "Name",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"name": "Name",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"kind": "12",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"value": "John Smith"<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;},<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;{<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"requestId": "5f327e5f327e5f327e5f327e",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"userData": "{\"accountId\":1234}",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"state": 1,<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"message": "",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"errorReason": "",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"checkDate": "2020-08-11T11:18:26+00:00",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"requestDate": "2020-08-11T11:18:25+00:00",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"itineraries": [],<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"login": "jessica@gmail.com",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"login2": "marriott",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"balance": 234567.0,<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"expirationDate": "2022-09-25",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"properties": [<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"code": "Name",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"name": "Name",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"kind": "12",<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"value": "Jessica Smith"<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;}<br/>
        &nbsp;&nbsp;]<br/>
        }
        </code>

      parameters:
        -
          name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/CheckAccountPackageRequest'
      examples:
        application/json: |
          {
              "package": [
                  {
                      "provider": "marriott",
                      "login": "9988776655",
                      "login2": "marriott",
                      "password": "password1234",
                      "userId": "1",
                      "priority": 9
                  },
                  {
                      "provider": "spg",
                      "login": "JSmith",
                      "login2": "USA",
                      "password": "password1234",
                      "userId": "123",
                      "userData": "4321",
                      "priority": 9,
                      "userData": "blah",
                      "retries": 4
                  }
              ]
          }
      tags:
        - loyalty_accounts
      responses:
        200:
          description: 'Loyalty program information and itineraries'
          schema:
            $ref: '#/definitions/PostCheckPackageResponse'
          examples:
            application/json: |
                {
                    "package": [
                        {
                            "requestId": "58e7ea288296d8d296d53d5ac"
                        },
                        {
                            "requestId": "5296d8d296d53d5829d53d5ad"
                        }
                    ]
                }
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
        500:
          description: 'Generic server error'
          schema:
            $ref: '#/definitions/ServerError'
        400:
          description: 'Client input error'
          schema:
            $ref: '#/definitions/InputError'
  '/account/check/{id}':
    get:
      security:
        - Authentication: []
      summary: 'Get account results'
      description: |
        This method allows you to pull the results of the account information retrieval from AwardWallet. Typically, AwardWallet will have this data cached for up to two hours after you send your request.
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: '`requestId` that you got from the [`/account/check`](#method-loyalty_accounts_1) or the [`/account/check/package`](#method-loyalty_accounts_2) methods.'
      tags:
        - loyalty_accounts
      responses:
        200:
          description: 'Account information'
          schema:
            $ref: '#/definitions/CheckAccountResponse'
          examples:
            application/json: |
                {
                  "requestId": "57d6884c312adced79a213c8",
                  "debugInfo": "",
                  "state": 1,
                  "message": "",
                  "errorReason": "",
                  "checkDate": "2016-09-12T16:50:59+00:00",
                  "requestDate": "2016-09-12T16:50:53+00:00",
                  "login": "995883915",
                  "login2": "marriott",
                  "balance": 22816,
                  "expirationDate": "2018-01-13",
                  "properties": [
                      {
                          "code": "Name",
                          "name": "Name",
                          "kind": "12",
                          "value": "John Smith"
                      },
                      {
                          "code": "Number",
                          "name": "Rewards #",
                          "kind": "1",
                          "value": "1122334455"
                      },
                      {
                          "code": "Level",
                          "name": "Membership Level",
                          "kind": "3",
                          "value": "Member"
                      },
                      {
                          "code": "Nights",
                          "name": "Nights this year",
                          "kind": "8",
                          "value": "8"
                      },
                      {
                          "code": "LastActivity",
                          "name": "Last qualifying activity",
                          "kind": "13",
                          "value": "01/13/16"
                      },
                      {
                          "code": "YearBegins",
                          "name": "Beginning of the Year",
                          "value": "1451606400"
                      }
                  ],
                  "history": {
                    "range": "complete",
                    "state": "q0CCioctQQ5yqbsEkIWfe3vCzoFV6lw==",
                    "rows": [
                      {
                        "fields": [
                          {
                            "name": "Post Date",
                            "value": "1445904000"
                          },
                          {
                            "name": "Type",
                            "value": "Stay"
                          },
                          {
                            "name": "Points earned",
                            "value": "+8,508"
                          },
                          {
                            "name": "Description",
                            "value": "Nashville Airport Marriott 09/13/15 - 09/18/15"
                          }
                        ]
                      }
                    ],
                    "subAccounts": [
                      {
                        "code": "SubAcc1",
                        "rows": [
                          {
                            "fields": [
                              {
                                "name": "Post Date",
                                "value": "1445904000"
                              },
                              {
                                "name": "Type",
                                "value": "Bonus"
                              },
                              {
                                "name": "Points earned",
                                "value": "+2,500"
                              },
                              {
                                "name": "Description",
                                "value": "POINTS PURCHASE - 2015"
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                }
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
        500:
          description: 'Generic server error'
          schema:
            $ref: '#/definitions/ServerError'
        400:
          description: 'Client input error'
          schema:
            $ref: '#/definitions/InputError'
  /account/queue:
    get:
      security:
        - Authentication: []
      summary: 'Get account queue size'
      description: 'If you ever need to do troubleshooting, you can always check how many of your account update requests are sitting in our queue using this method.'
      operationId: 'queueInfo'
      tags:
        - loyalty_accounts
      responses:
        200:
          description: 'Check account queue state'
          schema:
            $ref: '#/definitions/QueueInfoResponse'
          examples:
            application/json: |
                {
                  "queues": [
                    {
                      "provider": "spg",
                      "itemsCount": 3
                    },
                    {
                      "provider": "turkish",
                      "itemsCount": 1
                    },
                    {
                      "provider": "amtrak",
                      "itemsCount": 5
                    }
                  ]
                }
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
        500:
          description: 'Generic server error'
          schema:
            $ref: '#/definitions/ServerError'
        400:
          description: 'Client input error'
          schema:
            $ref: '#/definitions/InputError'
  /account/password/set:
    post:
      security:
        - Authentication: []
      operationId: swagger_v2.controller.change_password:changePassword
      summary: 'Change password'
      description: |
        This method is designed to change user account password with a given loyalty program.
      parameters:
        -
          name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/ChangePasswordRequest'
      examples:
        application/json: |
          {
              "provider": "spg",
              "login": "JSMith",
              "login2": "USA",
              "password": "password",
              "userId": "123",
              "userData": "4321",
              "browserState": "v1:YZFsNRWtg7...",
              "priority": 9,
              "timeout": 300,
              "callbackUrl": "http://hostname/callback",
              "userData": "blah",
              "retries": 2,
              "answers": [
                  {
                      "question": "What is your verbal password?",
                      "answer": "verbalpassword"
                  }
              ],
              "newPassword" : "yQjWdjgTzs8RP7ca2R"
          }

      tags:
        - loyalty_accounts
      responses:
        200:
          description: 'Change password information'
          schema:
            $ref: '#/definitions/PostCheckResponse'
          examples:
            application/json: |
              {
                  "requestId": "580d54da7s34d8ee39e29584"
              }
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
        500:
          description: 'Generic server error'
          schema:
            $ref: '#/definitions/ServerError'
        400:
          description: 'Client input error'
          schema:
            $ref: '#/definitions/InputError'
  '/account/password/set/{id}':
    get:
      security:
        - Authentication: []
      operationId: swagger_v2.controller.change_password:get
      summary: 'Get change password results'
      description: |
        You can get the results of the password change operation using this method by passing it the `requestId` from the `/account/password/set` method.
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: '`requestId` that you got from the [`/account/change-password`](##method-loyalty_accounts_5)'
      tags:
        - loyalty_accounts
      responses:
        200:
          description: 'Change password information'
          schema:
            $ref: '#/definitions/ChangePasswordResponse'
          examples:
            application/json: |
              {
              }
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
        500:
          description: 'Generic server error'
          schema:
            $ref: '#/definitions/ServerError'
        400:
          description: 'Client input error'
          schema:
            $ref: '#/definitions/InputError'
  /confirmation/check:
    post:
      security:
        - Authentication: []
      summary: 'Get reservation by conf #'
      description: |
        This method allows you to pull reservations from providers’ websites using a confirmation number without having to login using user credentials. Typically, you have to supply confirmation number and the traveler’s last name in order to retrieve a reservation but each website is different so requests will vary from provider to provider.
      parameters:
        -
          name: request
          in: body
          required: true
          schema:
            $ref: '#/definitions/CheckConfirmationRequest'
      tags:
        - Reservations_via_conf#
      examples:
        application/json: |
          {
              "provider": "alaskaair",
              "userId": "123",
              "userData": "blah",
              "priority": 9,
              "fields": [
                  {
                      "code": "ConfNo",
                      "value": "ABC123"
                  },
                  {
                      "code": "LastName",
                      "value": "Smith"
                  }
              ]
          }
      responses:
        200:
          description: 'Loyalty program information and itineraries'
          schema:
            $ref: '#/definitions/PostCheckConfirmationResponse'
          examples:
            application/json: |
              {
                  "requestId": "580d54da9d44d8ee39e29584"
              }
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
        500:
          description: 'Generic server error'
          schema:
            $ref: '#/definitions/ServerError'
        400:
          description: 'Client input error'
          schema:
            $ref: '#/definitions/InputError'
  '/confirmation/check/{id}':
    get:
      security:
        - Authentication: []
      summary: 'Get reservation results'
      description: 'If you are not using a `callbackUrl` you can get the results of your [`/confirmation/check`](#method-Reservations_via_conf#_1) request using the `requestId` that you got from that request.'
      parameters:
        -
          name: id
          in: path
          required: true
          type: string
          description: 'The ID that uniquely identifies this request that you got from the [`/confirmation/check`](#method-Reservations_via_conf#_1) method'
      tags:
        - Reservations_via_conf#
      responses:
        200:
          description: 'Confirmation information'
          schema:
            $ref: '#/definitions/CheckConfirmationResponse'
          examples:
            application/json: |
                {
                    "requestId": "580d54da9d44d8ee39e29584",
                    "userData": "blah",
                    "state": 1,
                    "message": "",
                    "checkDate": "2016-11-15T15:50:19+00:00",
                    "requestDate": "2016-11-15T15:50:07+00:00",
                    "itineraries": [
                       {
                         "travelAgency": null,
                         "pricingInfo": {
                           "total": 150,
                           "cost": 100,
                           "discount": 28.34,
                           "spentAwards": "3 segments",
                           "currencyCode": "USD",
                           "fees": [
                             {
                               "name": "Tax",
                               "charge": 30
                             },
                             {
                               "name": "Seat selection",
                               "charge": 5.5
                             },
                             {
                               "name": "Baggage fee",
                               "charge": 14.5
                             }
                           ]
                         },
                         "status": "Confirmed",
                         "reservationDate": "2000-01-01T00:00:00",
                         "providerInfo": {
                           "code": "delta",
                           "name": "Delta Air Lines",
                           "accountNumbers": [
                             {
                               "number": "1234****",
                               "masked": true
                             },
                             {
                               "number": "4321****",
                               "masked": true
                             }
                           ],
                           "earnedRewards": "300 award miles"
                         },
                         "cancellationPolicy": "Ticket is non-refundable",
                         "travelers": [
                           {
                             "name": "John Doe",
                             "full": true
                           },
                           {
                             "name": "Jane Doe",
                             "full": true
                           }
                         ],
                         "segments": [
                           {
                             "departure": {
                               "airportCode": "LAX",
                               "terminal": "A",
                               "name": "Los Angeles International Airport",
                               "localDateTime": "2030-01-01T13:30:00",
                               "address": {
                                 "text": "LAX",
                                 "addressLine": "1 World Way",
                                 "city": "Los Angeles",
                                 "stateName": "California",
                                 "countryName": "United States",
                                 "postalCode": "90045",
                                 "lat": 33.9415889,
                                 "lng": -118.40853,
                                 "timezone": -25200
                               }
                             },
                             "arrival": {
                               "airportCode": "SFO",
                               "terminal": "2",
                               "name": "San Francisco International Airport",
                               "localDateTime": "2030-01-01T15:00:00",
                               "address": {
                                 "text": "SFO",
                                 "addressLine": "San Francisco International Airport",
                                 "city": "San Francisco",
                                 "stateName": "California",
                                 "countryName": "United States",
                                 "postalCode": null,
                                 "lat": 37.615215,
                                 "lng": -122.389881,
                                 "timezone": -25200
                               }
                             },
                             "marketingCarrier": {
                               "airline": {
                                 "name": "Delta Air Lines",
                                 "iata": "DL",
                                 "icao": "DAL"
                               },
                               "flightNumber": "0013",
                               "confirmationNumber": "MRTG67",
                               "phoneNumbers": [
                                 {
                                   "description": null,
                                   "number": "+1-404-714-2300"
                                 }
                               ],
                               "isCodeshare": true
                             },
                             "operatingCarrier": {
                               "airline": {
                                 "name": "British Airways",
                                 "iata": "BA",
                                 "icao": "BAW"
                               },
                               "flightNumber": "5566",
                               "confirmationNumber": "CARR23",
                               "phoneNumbers": [
                                 {
                                   "description": null,
                                   "number": "+1-718-335-7070"
                                 }
                               ]
                             },
                             "wetleaseCarrier": {
                               "name": "Sky Express",
                               "iata": null,
                               "icao": null
                             },
                             "seats": [
                               "3E",
                               "3F"
                             ],
                             "aircraft": {
                               "iataCode": "7M7",
                               "name": "Boeing 737MAX 7 Passenger",
                               "turboProp": false,
                               "jet": true,
                               "wideBody": false,
                               "regional": false
                             },
                             "traveledMiles": "300mi",
                             "cabin": "Coach",
                             "bookingCode": "CL",
                             "duration": "1h30min",
                             "meal": "Snacks",
                             "smoking": false,
                             "status": "Confirmed",
                             "stops": 0,
                             "flightStatsMethodUsed": "ScheduleByFlight"
                           },
                           {
                             "departure": {
                               "airportCode": "SFO",
                               "terminal": "2",
                               "name": "San Francisco International Airport",
                               "localDateTime": "2030-01-05T06:00:00",
                               "address": {
                                 "text": "SFO",
                                 "addressLine": "San Francisco International Airport",
                                 "city": "San Francisco",
                                 "stateName": "California",
                                 "countryName": "United States",
                                 "postalCode": null,
                                 "lat": 37.615215,
                                 "lng": -122.389881,
                                 "timezone": -25200
                               }
                             },
                             "arrival": {
                               "airportCode": "LAX",
                               "terminal": "A",
                               "name": "Los Angeles International Airport",
                               "localDateTime": "2030-01-05T07:30:00",
                               "address": {
                                 "text": "LAX",
                                 "addressLine": "1 World Way",
                                 "city": "Los Angeles",
                                 "stateName": "California",
                                 "countryName": "United States",
                                 "postalCode": "90045",
                                 "lat": 33.9415889,
                                 "lng": -118.40853,
                                 "timezone": -25200
                               }
                             },
                             "marketingCarrier": {
                               "airline": {
                                 "name": "Delta Air Lines",
                                 "iata": "DL",
                                 "icao": "DAL"
                               },
                               "flightNumber": "0014",
                               "confirmationNumber": "MRTG67",
                               "phoneNumbers": [
                                 {
                                   "description": null,
                                   "number": "+1-404-714-2300"
                                 }
                               ],
                               "isCodeshare": true
                             },
                             "operatingCarrier": {
                               "airline": {
                                 "name": "British Airways",
                                 "iata": "BA",
                                 "icao": "BAW"
                               },
                               "flightNumber": "9009",
                               "confirmationNumber": "CARR23",
                               "phoneNumbers": [
                                 {
                                   "description": null,
                                   "number": "+1-718-335-7070"
                                 }
                               ]
                             },
                             "wetleaseCarrier": null,
                             "seats": [
                               "1B",
                               "1C"
                             ],
                             "aircraft": {
                               "iataCode": "7M7",
                               "name": "Boeing 737MAX 7 Passenger",
                               "turboProp": false,
                               "jet": true,
                               "wideBody": false,
                               "regional": false
                             },
                             "traveledMiles": "300mi",
                             "cabin": "First class",
                             "bookingCode": "I",
                             "duration": "1h30min",
                             "meal": "Snacks",
                             "smoking": null,
                             "status": "Confirmed",
                             "stops": null,
                             "flightStatsMethodUsed": "ScheduleByAirport"
                           }
                         ],
                         "issuingCarrier": {
                           "airline": {
                             "name": "Delta Air Lines",
                             "iata": "DL",
                             "icao": "DAL"
                           },
                           "confirmationNumber": "ISSD12",
                           "phoneNumbers": [
                             {
                               "description": null,
                               "number": "+1-404-714-2300"
                             }
                           ],
                           "ticketNumbers": [
                             {
                               "number": "006 123321",
                               "masked": false
                             },
                             {
                               "number": "006 456654",
                               "masked": false
                             }
                           ]
                         },
                         "type": "flight"
                       }
                     ]
                }
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
        500:
          description: 'Generic server error'
          schema:
            $ref: '#/definitions/ServerError'
        400:
          description: 'Client input error'
          schema:
            $ref: '#/definitions/InputError'
  /confirmation/queue:
    get:
      security:
        - Authentication: []
      summary: 'Get reservation queue size'
      description: 'If you ever need to do troubleshooting, you can always check how many of your [`/confirmation/check`](#method-Reservations_via_conf#_1) requests are sitting in our queue using this method.'
      operationId: 'queueInfo'
      tags:
        - Reservations_via_conf#
      responses:
        200:
          description: 'Check confirmation queue state'
          schema:
            $ref: '#/definitions/QueueInfoResponse'
          examples:
            application/json: |
                {
                  "queues": [
                    {
                      "provider": "spg",
                      "itemsCount": 3
                    },
                    {
                      "provider": "turkish",
                      "itemsCount": 1
                    },
                    {
                      "provider": "amtrak",
                      "itemsCount": 5
                    }
                  ]
                }
        default:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
        500:
          description: 'Generic server error'
          schema:
            $ref: '#/definitions/ServerError'
        400:
          description: 'Client input error'
          schema:
            $ref: '#/definitions/InputError'
definitions:
  ProvidersListItem:
    type: object
    properties:
      code:
        type: string
        description: 'Alpha-numeric value with no spaces that uniquely identifies any given provider. This code can be used to query all the details of that provider as follows: [`/providers/{code}`](#method-providers_2)'
      displayName:
        type: string
        description: 'User friendly display name of the provider. Typically includes both the company name and the name of the loyalty program, i.e. American Airlines (AAdvantage).'
      kind:
        type: integer
        description: |
            Type of the provider. The possible values are&#58;

            **1** - Airline

            **2** - Hotel

            **3** - Car rental

            **4** - Train

            **5** - Other

            **6** - Credit card

            **7** - Shopping

            **8** - Dining

            **9** - Survey

            **10** - Cruise
        minimum: 1
        maximum: 9
    required:
      - code
      - displayName
      - kind
  ProviderInfoResponse:
    type: object
    properties:
      kind:
        type: integer
        description: |
            Type of the provider. The possible values are&#58;

            **1** - Airline

            **2** - Hotel

            **3** - Car rental

            **4** - Train

            **5** - Other

            **6** - Credit card

            **7** - Shopping

            **8** - Dining

            **9** - Survey

            **10** - Cruise
        minimum: 1
        maximum: 10
      code:
        type: string
        description: 'Alpha-numeric value with no spaces that uniquely identifies any given provider.'
      displayName:
        type: string
        description: 'User friendly display name of the provider. Typically includes both the company name and the name of the loyalty program, i.e. American Airlines (AAdvantage).'
      providerName:
        type: string
        description: Provider company name, i.e. "American Airlines".
      programName:
        type: string
        description: Loyalty program name, i.e. "AAdvantage".
      login:
        description: An array describing the login field of that provider. You can use this data to build your UI. For example, `login.title` gives you the caption that you need to provide in your interface.
        $ref: '#/definitions/Input'
      login2:
        description: An array describing the login2 field of that provider (whenever applicable). A common example would be a drop down list of countries that we support. For example, for BestBuy we may support the USA and the Canada regions (completely different websites). `login2` would describe that.
        $ref: '#/definitions/Input'
      login3:
        description: Similar in concept to `login2`, needed when an extra piece of input data is required from the user.
        $ref: '#/definitions/Input'
      password:
        description: The password field caption you can use in your interface, i.e. Password, PIN, etc.
        $ref: '#/definitions/Input'
      'properties':
        type: array
        description: The array of account properties (secondary attributes) that we may gather from the account on top of the account balance.
        items:
          - $ref: '#/definitions/PropertyInfo'
      autoLogin:
        type: boolean
        description: Tells you if our server-side auto login is supported for this provider. Unfortunately, you can’t rely on this attribute 100% as first of all it may change without us detecting it and second it may work in some browsers but not in others.
      deepLinking:
        type: boolean
        description: Deep linking is an auto-login to a specific URL on the provider’s website. Similarly, to the `autoLogin` attribute it is not very reliable for the same reasons.
      canCheckConfirmation:
        type: boolean
        description: Tells you if we are able to retrieve travel itineraries from this provider using a confirmation number
      canCheckItinerary:
        type: boolean
        description: Tells you if we support retrieving travel reservations from this provider.
      canCheckPastItinerary:
        type: boolean
        description: Tells you if a provider is capable of retrieving past reservations from the online account.
      canCheckExpiration:
        type: integer
        description: |
            Tells you if we support retrieving the expiration dates for accounts that belong to this provider. Possible values are&#58;

            **0** - No

            **1** - Yes

            **2** - Balance never expires
        minimum: 0
        maximum: 2
      confirmationNumberFields:
        type: array
        description: Array of fields that are required to retrieve itineraries by confirmation number
        items:
          - $ref: '#/definitions/Input'
      historyColumns:
        type: array
        description: Array of columns that you can expect in return for account history. Empty, if provider does not support history parsing.
        items:
          - $ref: '#/definitions/HistoryColumn'
      eliteLevelsCount:
        type: integer
        description: The total number of elite statuses this provider has. Can be used in calculating elite status progress to the highest level.
      canParseHistory:
        type: boolean
        description: Tells you if we support retrieving historical account transactions for accounts belonging to this provider.
      canParseFiles:
        type: boolean
        description: Tells you if we support retrieving account statements in a pdf (or similar) format.
  Input:
    type: object
    properties:
      code:
        type: string
        description: Field code is used by developers to identify the type of this field, i.e. “Login”
      title:
        type: string
        description: Field title is a user-friendly name of the field that you can show as a caption in your UI.
      options:
        type: array
        description: If there is a limited set of values that can go into this field, those options would be listed in this array. Use this array to create a drop down list in your UI. 
        items:
          - $ref: '#/definitions/PropertyInfo'
      'required':
        type: boolean
        description: Even if the `options` array gives you an empty string as an option, if this field is set to true don’t accept an empty value from the user.
      defaultValue:
        type: string
        description: The default value that we expect for this field.
  Property:
    type: object
    description: We try to standardize the secondary properties as much as possible. For that reason we have the property `kind` value which identifies what type of attribute this is.
    properties:
      code:
        type: string
        description: This is usually a short codename of the property as described in the in the `/providers/{provider code}` method. I.e. "LastActivity"
      name:
        type: string
        description: User friendly name of the property such as “Account number”. You can display this to your end users.
      kind:
        type: string
        description: |
          Type of property, the possible values are: 

          **0** - Basic property 

          **1** - Account number 

          **3** - Elite Status

          **4** - Lifetime points

          **5** - Member since

          **6** - Expiring balance (in some cases only a portion of the entire balance may expire)

          **7** - Points / miles earned year-to-date (YTD).

          **8** - Segments earned year-to-date (YTD).

          **9** - Next elite level

          **10** - Points / miles needed to get to the next elite level

          **11** - Flights / nights needed to get to the next elite level.

          **12** - Name of the account holder, as listed on the account.

          **13** - Date of the last account activity.

          **14** - Points / miles needed to get the next reward

          **15** - Elite level expiration date

          **16** - Points / miles needed to retain the current elite level

          **17** - Segments / flights needed to retain the current elite level

          **18** - Family balance

          **19** - Status miles / points
      value:
        type: string
        description: The actual property value, such as “Silver”
  HistoryColumn:
    type: object
    properties:
      type:
        type: string
        description: |
          Each history column will have a `type` that is one of the following data types:

          **string**

          **date**

          **integer**

          **decimal**
      kind:
        type: string
        description: |
          Each history column will have a `kind` which tells you what kind of data it represents. Different providers have different history columns, here are the most common history column kinds:

          **PostingDate** - the date when the transaction posted into the account

          **Description** - Description of the transaction as it shows up on the provider's website.

          **Category** - Only applicable to credit card transactions. It tells you the category of the merchant as it shows up on the bank's website. 

          **Amount** - Only applicable to credit card transactions. It tells you the amount that was spent as part of that transaction.

          **Miles** - Tells you how many miles were earned or spent in this transaction.

          **Currency** - - Only applicable to credit card transactions. It tells you the currency of the transaction.

          **Bonus** - If a given transaction had a bonus, this field will show the number of bonus miles.

          **Info** - Sometimes historical transactions have fields that don't fit into any of the kinds listed above, in that case, they will be returned as `info`
      name:
        type: string
        description: Name of the column such as “Posting Date” or "Description" exactly as it shows up on the provider's website. You can show this value as a column name to your users. 
  PropertyInfo:
    type: object
    properties:
      code:
        type: string
        description: Property code name – unique within a single provider. Can only have English numbers and letters with no spaces.
      name:
        type: string
        description: User friendly name of the property such as “Account number”. You can display this to your end users.
      kind:
        type: string
        description: |
          Type of property, the possible values are: 

          **0** - Basic property 

          **1** - Account number 

          **3** - Elite Status

          **4** - Lifetime points

          **5** - Member since

          **6** - Expiring balance (in some cases only a portion of the entire balance may expire)

          **7** - Points / miles earned year-to-date (YTD).

          **8** - Segments earned year-to-date (YTD).

          **9** - Next elite level

          **10** - Points / miles needed to get to the next elite level

          **11** - Flights / nights needed to get to the next elite level.

          **12** - Name of the account holder, as listed on the account.

          **13** - Date of the last account activity.

          **14** - Points / miles needed to get the next reward

          **15** - Elite level expiration date

          **16** - Points / miles needed to retain the current elite level

          **17** - Segments / flights needed to retain the current elite level

          **18** - Family balance

          **19** - Status miles / points
  CheckAccountPackageRequest:
    type: object
    properties:
      package:
        type: array
        description: 'An array of accounts to be updated by the service. The individual accounts in this array need to be defined the same way you would define a [single account](#method-loyalty_accounts_1).'
        items:
          - $ref: '#/definitions/CheckAccountRequest'
  PostCheckPackageResponse:
    type: object
    properties:
      package:
        type: array
        description: 'In response you will get an array of request ids in the same order in which you sent the accounts in the request object. You can use these request ids to get the results of the account updates using the [`/account/check/{id}`](#method-loyalty_accounts_3) method in case if you are not using callback URLs.'
        items:
          - $ref: '#/definitions/PostCheckResponse'
      errors:
        type: array
        items:
          - $ref: '#/definitions/PostCheckErrorResponse'
  AutoLoginRequest:
    type: object
    allOf:
      -
        properties:
          provider:
            type: string
            description: 'Alpha-numeric value with no spaces that uniquely identifies any given provider. Can be retrieved from the [`/providers/list`](#method-providers_1) method.'
          userId:
            type: string
            description: 'UserID that uniquely identifies the user in your system. Required for billing / accounting purposes.'
          userData:
            type: string
            description: "Any data you wish to send. It will be returned untouched in the response. Could be used for matching requests to responses."
          targetUrl:
            type: string
            description: 'This parameter allows you to do so called “deep linking”, in other words after we perform the auto-login we will navigate the logged in user to the URL that you specify in this attribute.'
          startUrl:
            type: string
            description: 'This attribute allows you to first navigate the user to some page (typically some type of an affiliate link) and then proceed to the targetURL or whatever the default page that users sees after they login.'
          supportedProtocols:
            type: array
            description: 'When we load the auto-login page we need to know which protocols your website supports, do you support http only or https only or both? Ideally your domain supports both protocols, and we will always try to use https whenever possible.'
            items:
              type: string
              enum:
                - https
                - http
      -
        $ref: "#/definitions/BaseLoginFields"
    required:
      - provider
      - login
      - userId
      - supportedProtocols
  AutoLoginResponse:
    type: object
    properties:
      response:
        type: string
        description: 'The response attribute will contain an entire html page that you need to embed into a hidden iframe on your website. Once loaded, it will open up the provider’s website where the user will be logged in. As the page is getting loaded we recommend you to show some sort of “Please wait” message to the end user. All of this is designed so that the user will not know that AwardWallet is performing the auto-login for them.'
      userData:
        type: string
        description: "This field returns whatever data you put in it when you made your request as is. Can be used for some sort of tracking."
  BaseRequest:
    type: object
    properties:
      provider:
        type: string
        description: 'Alpha-numeric value with no spaces that uniquely identifies any given provider. Can be retrieved from the [`/providers/list`](#method-providers_1) method.'
      userId:
        type: string
        description: 'UserID that uniquely identifies the user in your system. Required for billing / accounting purposes.'
      userData:
        type: string
        description: "Any data you wish to send. It will be returned untouched in the response. Could be used for matching requests to responses."
      priority:
        type: integer
        description: 'Request priority values range from 1 to 9, where 1 is the lowest priority and 9 is the highest priority. In some cases, we throttle requests with priorities lower than X (default is 9). Please use this attribute to separate background account updates from the foreground account updates. In other words, background updating could have priority of 1 and accounts that are updated when an actual user is actually waiting for the results with priority of 9. This way your background updating will never negatively affect your updates when someone is actually waiting for the results.'
        minimum: 1
        maximum: 9
      callbackUrl:
        type: string
        description: |
          All callback URLs must be registered with us before use. For production deployments, this is the recommended way to work with our API. So the idea is – you send us a request to update a loyalty account we send you the response as soon as we have it to the callback URL that was sent with the request. We will use http / basic authentication to authenticate ourselves. So when setting up your callback URLs with us, you also need to provide a username (i.e. awardwallet) and a password that we will use to authenticate ourselves when sending callbacks to that URL. We do not need the full path to your endpoint; we do not need the protocol or the port number; all we need is the domain. If your callback URL is `https://api.mydomain.com:8080/path/to/my/endpoint`, we would only need to register `api.mydomain.com`. We also support wildcards, so if you have multiple subdomains, we could register `*.mydomain.com`. We will send headers that look as follows with our callbacks:

          Content-type: 'application/json'<br/>
          Authorization: 'Basic YXdhcmR3YWxsZXQ6YXdkZXZlbG9wZXI='

          where `YXdhcmR3YWxsZXQ6YXdkZXZlbG9wZXI=` is a base64 encoded string of the username and password separated by a colon, i.e. `awardwallet:password`

          When we send our callbacks, we expect to receive code 200. If we get anything another than code 200, we will keep re-trying to send you the response. The page itself can be empty as long as we get code 200.
      retries:
        type: integer
        description: Defines how many times we will retry account updating in case of an `unknown error`. If the user provided us with invalid credentials and we detect that, we will not keep retrying as that may lock out the user. Possible values are 0 to 4. The default is 4.
        minimum: 0
        maximum: 4
        default: 4
      timeout:
        type: integer
        description: 'Time in seconds which determines how long the account is allowed to sit in the queue. If that time passes and we have not retrieved the account details we will throw a "timeout" error. This way, if someone is waiting for an account update (staring at their device) and if it takes too long we will remove that account from the queue and will give a meaningful error (thus freeing up our resources) to update other accounts.'
    required:
      - userId
      - priority
  CheckAccountRequest:
    type: object
    allOf:
      -
        $ref: "#/definitions/BaseRequest"
      -
        $ref: "#/definitions/LoginFields"
      -
        properties:
          browserState:
            type: string
            description: 'When you update accounts that have security questions for the first time you will get a `browserState` attribute back from us. Please store it on your end and send it with your next account update so that the user doesn’t get prompted for security questions again.'
          parseItineraries:
            type: boolean
            description: 'Tells us if you also wish to retrieve itineraries from the loyalty account. It takes time (and therefore resources) to retrieve itineraries so please set this parameter to `false` if you don’t need to pull reservations during account updating.'
            default: false
          parsePastItineraries:
            type: boolean
            description: 'Set to `true` if you wish us to also retrieve past itineraries from this account.'
            default: false
          history:
            description: |
              Object that defines if (and what) history should be gathered from the account.
            $ref: '#/definitions/RequestItemHistory'
          browserExtensionAllowed:
            type: boolean
            default: false
            description: 'Allow use of the browser extension for checking' # REVIEW
          loginId:
            type: string
            description: 'user account identifier, used to link browser extension session with user account' # REVIEW
        required:
          - provider
          - login
          - userId
          - priority
  AutologinWithExtensionRequest:
    type: object
    allOf:
      -
        properties:
          provider:
            type: string
            description: 'Alpha-numeric value with no spaces that uniquely identifies any given provider. Can be retrieved from the [`/providers/list`](#method-providers_1) method.'
          userId:
            type: string
            description: 'UserID that uniquely identifies the user in your system. Required for billing / accounting purposes.'
          userData:
            type: string
            description: "Any data you wish to send. It will be returned untouched in the response. Could be used for matching requests to responses."
          loginId:
            type: string
            description: 'user account identifier, used to link browser extension session with user account' # REVIEW
      -
        $ref: "#/definitions/LoginFields"
  CheckConfirmationRequest:
    type: object
    description: Request for confirmation number checking
    allOf:
      -
        $ref: "#/definitions/BaseRequest"
      -
        properties:
          fields:
            type: array
            description: Each provider may have different fields / values that need to be submitted to retrieve reservations by confirmation number. To know what field names to pass you need to call the `/providers/{code}` method and look at the `confirmationNumberFields` array.
            items:
              - $ref: '#/definitions/InputField'
        required:
          - provider
          - userId
          - fields
          - priority
  RequestItemHistory:
    type: object
    description: History items are the individual transactions (Account Activity) that show up on a loyalty account. It takes time to gather this information, please don’t request it unless you really need it.
    properties:
      range:
        type: string
        description: |
          There are two possible values that can be sent in this attribute:
          
          **complete** - this means that you want AwardWallet to return a complete history of all transactions on for this account. In this scenario, you don’t need to send the `state` attribute to us. Also, please note that updating will take more time this way.
          
          **incremental** - this means you already have the account transactions history on your end and you are only interested in receiving the additional (incremental) transactions that happened since the last time you updated this account.

          **incremental2** - same as incremental, but we could send you an updated past history. You will always receive full past history day. For example if we sent you a history starting from 2020-01-01, it means you could overwrite all history from that date.
        enum:
          - "complete"
          - "incremental"
          - "incremental2"
      state:
        type: string
        description: 'This attribute is only applicable if you set the `range` attribute to `incremental`. For this attribute, you need to send us the same `state` string value that we sent to you in the previous account update response.'
  RequestItemFiles:
    type: object
    properties:
      parse:
        type: boolean
        description: 'Parse and return account files'
        default: false
      version:
        type: integer
        description: 'Files version you have on your side. Null means no files cache.'
      lastDate:
        type: string
        format: date
        description: 'Up to what date do you have files cache on your end. Null means no cache. We will return partial files, starting from (including) this date.'
  Answer:
    description: |
      Some programs require users to answer security questions to get into their loyalty accounts. In those cases, you will receive a response from the `/account/check` method that will have a `question` string. You need to get the answer from the user and send it to us along with the question. Each account may have multiple questions and answers. Please store all of them on your end and send them with each account update request.

      This also applies to accounts that require MFA / 2FA. In that case, the question will be something like, "Please enter the security code that was sent to jsmith@gmail.com". We understand that these codes are one-time codes and will not work on subsequent account updates; however, you should still save them just like you save any other security question answers on your end, and send them with each new account update. Based on the type of account and your browser state, we will determine if we should toss the security code that you are sending to us or use it. In other words, you don't need to decide which security answers to store on your end (and send to us) and which security answers not to send, just send all of the answers, and we will determine if we can use them.
    type: object
    properties:
      question:
        type: string
        description: 'Security question that is unique to that specific account'
      answer:
        type: string
        description: 'Security answer that is unique to that specific account which corresponds to the security question.'
    required:
      - question
      - answer
  QueueInfoItem:
    type: object
    properties:
      provider:
        type: string
        description: 'Provider code'
      priority:
        type: integer
        description: Request priority
      itemsCount:
        type: integer
        description: Total number of update requests for your API account waiting to be processed by our service for a given provider.
  QueueInfoResponse:
    type: object
    properties:
      queues:
        type: array
        description: Array of queue items grouped by provider.
        items:
          - $ref: '#/definitions/QueueInfoItem'
  PostCheckConfirmationResponse:
    type: object
    properties:
      requestId:
        type: string
        description: 'qAn ID that uniquely identifies this request. You can use this value to get the results of this update request using the [`/confirmation/check/{id}`](#method-Reservations_via_conf#_2) method'
    required:
      - requestId
  BaseCheckResponse:
    type: object
    properties:
      requestId:
        type: string
        description: 'An ID that uniquely identifies this request.'
      userData:
        type: string
        description: 'This field returns whatever data you put in it when you made your request as is. Can be used for some sort of tracking.'
      provider:
        type: string
        description: 'Alpha-numeric value with no spaces that uniquely identifies any given provider, i.e. "marriott"'
      message:
        type: string
        description: 'Human readable error message. You can show this message to your users.'
      errorReason:
        type: string
        description: 'Technical error reason. Something like "AwardWallet sign-in attempt was blocked by the provider" or "We could not recognize captcha". Do not show this message to the end user.'
      checkDate:
        type: string
        format: date-time
        description: Date and time when this account information was retrieved from the provider’s website.
      requestDate:
        type: string
        format: date-time
        description: Date and time of when the request was sent to us, i.e. when the account was put into our queue for updating.
  CheckConfirmationResponse:
    type: object
    allOf:
      -
        $ref: "#/definitions/BaseCheckResponse"
      -
        properties:
          state:
            type: integer
            description: |
                **1** - Reservation was successfully retrieved.

                **6** - AwardWallet failed to parse the provider’s website.

                **100** – The provider did not accept the parameters you sent, i.e. last name and confirmation number combination is not valid
          itineraries:
            $ref: "#/definitions/ItineraryCommon"
  PostCheckResponse:
    type: object
    properties:
      requestId:
        type: string
        description: 'An ID that uniquely identifies this request. You can use this value to get the results of this update request using the [`/account/check/{id}`](#method-loyalty_accounts_1) method'
      browserExtensionSessionId:
        type: string
        description: 'This session id you should pass to browser extension client library'
      browserExtensionConnectionToken:
        type: string
        description: 'This token you should pass to browser extension client library'
    required:
      - requestId
  AutologinWithExtensionResponse:
    type: object
    properties:
      browserExtensionSessionId:
        type: string
        description: 'This session id you should pass to browser extension client library'
      browserExtensionConnectionToken:
        type: string
        description: 'This token you should pass to browser extension client library'
    required:
      - browserExtensionSessionId
      - browserExtensionConnectionToken
  CheckAccountResponse:
    required:
      - requestId
      - state
      - login
    type: object
    allOf:
      -
        $ref: "#/definitions/BaseCheckResponse"
      -
        properties:
          login:
            type: string
            description: |
                User's login value that was used to login to the provider's website
          login2:
            type: string
            description: 'Second login value such as a geographical region. Empty in most cases.'
          login3:
            type: string
            description: 'Third login value. Empty in most cases.'
          state:
            type: integer
            minimum: 0
            maximum: 11
            description: |
               **0** – The account data has not yet been retrieved from the provider’s website. Please repeat your request again later to get the results.

               **1** - Account information has been successfully retrieved.

               **2** -	Error. The provider did not accept the credentials for this account.

               **3** - Error. The provider has locked this account out due to multiple invalid login attempts.

               **4** -	Error. The provider has returned some error or requires some additional user action, such as to update personal information.

               **5** -	This provider has been disabled on AwardWallet.

               **6** - An Unknown Error occurred, something unexpected happened and AwardWallet failed to retrieve the data.

               **9** - Account information was successfully retrieved; however, there was some type of a warning. The warning message is returned in the `message` field.

               **10** - The end user needs to answer a security question in order for this account information to be retrieved. The actual question is returned in the `question` field.

               **11** - Retrieving this account took too much time. The request timed out.
          question:
            type: string
            description: 'Security question to be shown to the end user to get the answer.'
          balance:
            type: number
            description: "Account balance.  In some cases, you may get a `null` value which means that this account doesn’t have a main account balance. The most common scenario for this is when there are multiple sub accounts under this account, each having its own balance."
          expirationDate:
            type: string
            format: date
            description: Account balance expiration date
          'properties':
            type: array
            description: We gather as much data as possible from any given account on top of the main attributes like the account balance and its expiration date. These secondary properties will be available in this array.
            items:
              - $ref: '#/definitions/Property'
          eliteLevel:
            type: integer
            description: The elite level of this account in the loyalty program.
          noItineraries:
            type: boolean
            description: |
               Sometimes our service may return zero itineraries even though there are itineraries on the account. This could happen if the prover’s website changed and our parsers are not aware of it. This doesn’t mean you should delete all user itineraries on your end. However, if we are able to detect with very high probability that there are indeed no itineraries on the account (i.e. it is explicitly stated on the website: “No future reservations”) we will set this parameter to true. Meaning that we are certain there are no future reservations for this account.
          neverExpires:
            type: boolean
            description: The loyalty balance on this account never expires.
          subAccounts:
            type: array
            description: Array of subaccounts
            items:
              - $ref: '#/definitions/SubAccount'
          detectedCards:
            type: array
            description: Designed for credit card accounts. This array will list all the credit cards that we found under this account.
            items:
              - $ref: '#/definitions/DetectedCard'
          browserState:
            type: string
            description: Browser state such as cookies and other info. Please store this data on your end with the account and always send it back to us for any subsequent `/account/check` requests. This will make your accounts updating much faster.
          itineraries:
            $ref: "#/definitions/ItineraryCommon"
          history:
            description: 'Object that defines history items which are the individual transactions (account activity) that show up on a loyalty account.'
            $ref: '#/definitions/History'
          files:
            type: array
            description: Array of files such as PDF statements or e-receipts from an account.
            items:
              - $ref: '#/definitions/File'
          filesVersion:
            type: integer
            description: Files cache version. Retrieving files, such as pdf statements from an account is an experimental feature that we have. Most likely you don’t use it and don’t need to worry about any of the “files…” attributes. In case if you do, store this value on your side for subsequent requests to `/account/check`, to populate the CheckAccountRequest.FilesVersion field. Could be `null` if there are no files.
          filesCacheValid:
            type: boolean
            description: |
                **true** - means the `files` array contains partial response, such as only the latest pdf statements, add those statements to the ones you already have for this account instead of overwriting the statements that you have on your end.

                **false** - means you should discard the files (pdf statements) that you have on your end, the `files` array will contain a full set of files for that account.

                **null** - means you have not filled the `filesVersion` and the `filesLastDate` fields in your request
          invalidAnswers:
            type: array
            description: An array of answers to security questions that we tried and determined that the answers are not valid. You should mark these answers as invalid on your end.
            items:
              - $ref: '#/definitions/Answer'
          options:
            type: string
            description: This is a reserved field. Please ignore unless our support tells you otherwise.
  File:
    type: object
    description: This is an experimental feature we played around with. It allows you to retrieve pdf statements or e-folios from accounts. For example, it could return credit card statements in a pdf format. Unfortunately, currently this feature is not implemented but could be implemented in the future.
    properties:
      date:
        type: string
        description: File date
      name:
        type: string
        description: File name
      extension:
        type: string
        description: "File extension, i.e. \"pdf\""
      kind:
        type: string
        description: The only file kind that we support is **statement** but we may support other file types in the future. This field would identify those types.
      accountNumber:
        type: string
        description: In case of credit cards each statement is related to a specific account number. Most users have multiple banking accounts / credit cards under a single login name. This account number identifies the account to which this statement is related to.
      accountName:
        type: string
        description: In case of credit cards, accounts may have user friendly names. This value shows that name.
      accountType:
        type: string
        description: In case of credit cards this could be “checking”, “savings”, etc.
      contents:
        type: string
        description: The actual file content, base 64 encoded.
  History:
    type: object
    description: 'History object returns you the individual transactions that are listed under a given loyalty account, a.k.a. “Account Activity”.'
    properties:
      range:
        type: string
        description: |
          Identifies if the response contains complete or incremental history. There are three possible values: /* review */
          - **complete**
          - **incremental**
          - **incremental2**

          Please note that when incremental history is returned, the first date of that response will overlap with the last day of the history that you already have. Unfortunately, in the current implementation of the API, it is your responsibility to remove the duplicates that are caused by this. incremental_past means you could receive updated past history.
        enum:
          - "complete"
          - "incremental"
          - "incremental2"
      state:
        type: string
        description: |
          Please store this string value on your end along with this account and send it to us with consequent account update requests and set the `range` value to `incremental`

          The maximum length of this attribute is 64KB, but it really should never be that big.
      rows:
        type: array
        description: This is where the actual transactions history data will be (the information you would normally see under the “Account Activity” section of a loyalty account). This is an array of account history items.
        items:
          - $ref: '#/definitions/HistoryRow'
      subAccounts:
        type: array
        description: In some cases, sub-accounts may have their own transactions history, when they do, they will be returned in this attribute as an array of `subAccounts` history items.
        items:
          - $ref: '#/definitions/SubAccountHistory'
  SubAccountHistory:
    type: object
    description: 'In some cases, sub-accounts may have their own transactions history, when they do, they will be returned in this object.'
    properties:
      code:
        type: string
        description: Each sub-account has a unique `code` value. You will need to use this code value to match up sub-account history with individual sub-accounts.
      rows:
        type: array
        description: The rows array for sub-accounts has the same structure as the rows array for accounts (above). So basically, this is where the actual transactions history data will be. 
        items:
          - $ref: '#/definitions/HistoryRow'
  HistoryRow:
    type: object
    description: Unfortunately, most providers present their history differently, as much as we want to unify this information it doesn’t seem to be possible, so when presenting a single history row, we define each field separately with three values as [described below](#object-HistoryField).
    properties:
      fields:
        type: array
        description: History fields as described below.
        items:
          - $ref: '#/definitions/HistoryField'
  HistoryField:
    type: object
    description: Think of a single row of data that describes a historical transaction. `fields` are the individual values that comprise that transaction. Instead of just providing you with a text value we provide you with an array of metadata that define what this value is.
    properties:
      name:
        type: string
        description: User-friendly name of the field, i.e. “Posting Date” that you can show as the column heading to your end users. 
      value:
        type: string
        description: The actual field value, such as "1/25/2016"
  InputField:
    type: object
    properties:
      code:
        type: string
        description: "To know what field code to pass you need to call the [`/providers/{code}`](#method-providers_2) method and look at the `confirmationNumberFields` array."
      value:
        type: string
        description: "Value, such as travelers last name or confirmation number."
  SubAccount:
    type: object
    description: Some loyalty programs have multiple loyalty balances that users want to track. For example, a single banking account may have multiple credit cards, each earning its own loyalty points. We would present those individual loyalty balances as sub-accounts.
    properties:
      balance:
        type: number
        description: Account balance. In some cases, you may get a `null` value which means that balance is not applicable for this type of subaccount.
      expirationDate:
        type: string
        format: date
        description: Subaccount balance expiration date.
      code:
        type: string
        description: Some value that uniquely identifies this specific sub-account. I.e. 11234-HH-471
      displayName:
        type: string
        description: The subaccount display name defines this subaccount to the user. For example, “Bank of America Companion Fare”
      'properties':
        type: array
        description: Just like accounts, subaccounts also can have additional properties that are specific to each subaccount.
        items:
          - $ref: '#/definitions/Property'
      neverExpires:
        type: boolean
        description: Just like with accounts this field tells if you the balance on this subaccount never expires.
  DetectedCard:
    type: object
    description: There are typically multiple credit cards under a single online account. Some cards may not be earning miles or may be earning miles for other loyalty programs and should be tracked separately. For example, a user may have a British Airways Chase card – those miles should be tracked via British Airways account, instead of the Chase account; however, we will still detect that the user has that BA card and will list it in this array of detected cards.
    properties:
      code:
        type: string
        description: Card code is a value that uniquely identifies a specific credit card within an account, i.e. **chase.4321** where 4321 are the last four digits of the card.
      displayName:
        type: string
        description: |
          The display name of the card as we show it on AwardWallet. May not be exactly what you are looking for. An example would be: “Personal Card ending with 4321 (Sapphire Preferred / Ultimate Rewards):”
      cardDescription:
        type: string
        description: |
          Card description is what we show to our users about that specific card as it pertains to tracking loyalty points on that card. So we created this description ourselves. For example, for the Amex SPG card the description may be: "Should be tracked separately as a separate Starwood account added to AwardWallet".
  BaseLoginFields:
    type: object
    properties:
      login:
        type: string
        description: |
          User's login value to be used to login to the provider's website
      login2:
        type: string
        description: 'Second login value. A common example would be a drop down list of countries that we support. For example, for BestBuy we may support the USA and the Canada regions (completely different websites).'
      login3:
        type: string
        description: 'Similar in concept to `login2`, needed when an extra piece of input data is required from the user.'
      password:
        type: string
        description: |
          User's password value to be used to login to the provider's website.

          While all of our API communications happen over a secure https channel, we also offer our API clients to encrypt passwords. If you are interested in doing so, please reach out to our support, and we will send you a public.pem key that you will use to encrypt the password value as follows:

          <code class="prettyprint">
          echo 'mypassword' | openssl rsautl -encrypt -pubin -inkey public.pem | base64
          </code>

          Then you would need to base64 encode the encrypted value and send that value to us.
  LoginFields:
    type: object
    allOf:
      -
        $ref: "#/definitions/BaseLoginFields"
      -
        properties:
          answers:
            type: array
            description: |
              Array with security questions and answers.
            items:
              - $ref: '#/definitions/Answer'
    required:
      - 'login'
  ChangePasswordRequest:
    type: object
    allOf:
      -
        $ref: "#/definitions/BaseRequest"
      -
        $ref: "#/definitions/LoginFields"
      -
        properties:
          newPassword:
            type: "string"
            description: "New password that you wish to set on this account."
        required:
          - newPassword
          - password
  ChangePasswordResponse:
    type: object
    allOf:
      -
        $ref: "#/definitions/BaseCheckResponse"
      -
        properties:
          state:
            type: integer
            minimum: 0
            maximum: 11
            description: |
               **0** – The password reset request is still pending.

               **1** - The account password has been successfully changed.

               **2** - Error occurred. The provider did not accept the credentials for this account (specifically, the old password did not work for authentication).

               **3** - Error occurred. The provider has locked this account out due to multiple invalid login attempts.

               **4** - Error occurred. The provider has returned some error or requires some additional user action, such as to update personal user information.

               **5** - This provider has been disabled on AwardWallet.

               **6** - An Unknown Error occurred, something unexpected happened and most likely AwardWallet failed to set the new password. It is, however, possible that this Unknown Error occurred after the password was successfully changed. You can call the `/account/check` method to see which password (the old or the new one) still works. Yes, this is the worst kind of error, we hate it too.

               **9** - The password was successfully changed; however, there was some type of a warning. The warning message is returned in the `message` field.

               **10** - The end user needs to answer a security question in order to reset this password. The actual question is returned in the `question` field.

               **11** - Changing this account password took too much time. The request timed out.
          browserState:
            type: string
            description: Browser state such as cookies and other info. Please store this data on your end with the account and always send it back to us for any subsequent `/account/check` or `/account/change-password` requests. This will make your account updating / changing passwords much faster.
        required:
          - state
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string

  PostCheckErrorResponse:
    type: object
    properties:
      message:
        type: string
      userData:
        type: string

  VndError:
    type: object
    required:
      - message
      - logref
    properties:
      message:
        type: string
      logref:
        type: string
      errors:
        type: array
        items:
          type: string

  ServerError:
    description: 'Server Error'
    schema:
      $ref: '#/definitions/VndError'
  InputError:
    description: 'Input Error'
    schema:
      $ref: '#/definitions/VndError'
