version: '2'

services:
  mysql:
      image: mysql:5.7
      restart: always
      ports:
        - "3306:3306"
      environment:
          - MYSQL_ALLOW_EMPTY_PASSWORD=1
          - MYSQL_USER=wsdlawardwallet2
          - MYSQL_PASSWORD=xxx
          - MYSQL_DATABASE=wsdlawardwallet
      volumes:
          - ./mysql.cnf:/etc/mysql/conf.d/mysql.cnf

